$mat-eleusis-primary: (
    50 : #e5e8ed,
    100 : #bfc6d1,
    200 : #95a0b3,
    300 : #6a7a95,
    400 : #4a5e7e,
    500 : #2a4167,
    600 : #253b5f,
    700 : #1f3254,
    800 : #192a4a,
    900 : #0f1c39,
    A100 : #749cff,
    A200 : #4178ff,
    A400 : #0e53ff,
    A700 : #0046f4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff
    )
);

$mat-eleusis-accent: (
  50 : #f3f1e7,
  100 : #e1dbc3,
  200 : #cdc49b,
  300 : #b9ac72,
  400 : #aa9a54,
  500 : #9b8836,
  600 : #938030,
  700 : #897529,
  800 : #7f6b22,
  900 : #6d5816,
  A100 : #ffe7a6,
  A200 : #ffda73,
  A400 : #ffcc40,
  A700 : #ffc626,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000
    )
);
