<div class="add-wrapper" fxLayout="column" fxLayoutAlign="start center">
  <form class="add-container" #myform="ngForm" (ngSubmit)="onSubmit(myform)" *ngIf="user.role == 'Owner' || user.role == 'Editor'">
    <mat-card>
      <mat-card-title>Add New Institution</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="start center">
        <mat-form-field appearance="fill">
          <mat-label>ID</mat-label>
          <input matInput type="number" name="id" placeholder="Enter ID (optional)" ngModel>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput type="text" name="title" placeholder="Enter Title" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Origin</mat-label>
          <mat-select [(value)]="selectedOrigin">
            <mat-option *ngFor="let origin of acceptableOrigins" [value]="origin">{{ origin }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select [(value)]="selectedCategory">
            <mat-option *ngFor="let category of acceptableCategories" [value]="category">{{ category }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select [(value)]="selectedType">
            <mat-option *ngFor="let type of acceptableTypes" [value]="type">{{ type }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxlayoutAlign="center center">
        <div *ngIf="errorMsgs.length > 0" class="error-msgs" fxLayout="column" fxLayoutAlign="start center">
          <div *ngFor="let errorMsg of errorMsgs">Error: {{ errorMsg }}</div>
        </div>
        <div *ngIf="serverErrorMsgs.length > 0" class="error-msgs" fxLayout="column" fxLayoutAlign="start center">
          <div *ngFor="let serverErrorMsg of serverErrorMsgs">Error: {{ serverErrorMsg }}</div>
        </div>
        <button mat-raised-button type="submit" color="primary" aria-label="Add institution button">Add Institution</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
