<div class="single-col">
  <div class="not-found-wrapper" fxLayout="column" fxLayoutAlign="center center">
      <mat-card class="not-found-container" fxLayout="column">
        <mat-card-title>Erratum CDIV - Pagina Non Inventa</mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <img fxHide.xs fxHide.sm src="{{ imgs['404'] }}" class="border border-img float-right" alt="404 Not Found Image" mat-card-img>
          <p>Unfortunately, the page you requested could not be found. Perhaps there has been a <em>damnatio memoriae</em>?</p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
          <button routerLink="/" mat-raised-button color="primary" aria-label="Homepage Button">Back to Home</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>
