<mat-card>
  <mat-card-title>Project Specifications</mat-card-title>
  <mat-card-subtitle><i>Technical Information</i></mat-card-subtitle>
  <mat-card-content>
    <mat-list dense>
      <mat-list-item *ngFor="let spec of specs.specs">
        <span class="label"><strong>{{ spec.label }}:</strong></span>
        <a href="{{ spec.link }}" target="_blank">{{ spec.value }}</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>GitHub Repository</mat-card-title>
  <mat-card-subtitle><i>Code & Data</i></mat-card-subtitle>
  <mat-card-content>
    <mat-list dense>
      <mat-list-item>
        <span class="label"><strong>Code:</strong></span>
        <a href="{{ specs.repository }}" target="_blank">GitHub</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Project Modules</mat-card-title>
  <mat-card-subtitle><i>Dependencies from npm</i></mat-card-subtitle>
  <mat-card-content>
    <h3>Frontend:</h3>
    <mat-list dense>
      <mat-list-item *ngFor="let frontendDependency of specs.dependencies.frontend">
        <a href="{{ frontendDependency.link }}" target="_blank">{{ frontendDependency.label }}</a>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <h3>Backend:</h3>
    <mat-list dense>
      <mat-list-item *ngFor="let backendDependency of specs.dependencies.backend">
        <a href="{{ backendDependency.link }}" target="_blank">{{ backendDependency.label }}</a>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <h3>Developer:</h3>
    <mat-list dense>
      <mat-list-item *ngFor="let devoperDependency of specs.dependencies.developer">
        <a href="{{ devoperDependency.link }}" target="_blank">{{ devoperDependency.label }}</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Database Schema</mat-card-title>
  <mat-card-subtitle><i>Entity Relationship Diagram</i></mat-card-subtitle>
  <mat-card-content fxLayout="column" fxLayoutAlign="start center">
    <div><a class="center-text" href="{{ specs.erd }}">Download the ERD here</a></div>
    <img fxHide.xs fxHide.sm src="{{ specs.erd }}" class="border border-img" alt="ERD of Eleusis Database" mat-card-img>
    <div><a href="{{ specs.erd }}">Download the ERD here</a></div>
  </mat-card-content>
</mat-card>
