<div>
  <!-- non-mobile displays -->
  <div class="detail-wrapper" fxFlex fxLayout="row" fxHide.lt-md>
    <div class="left-col">
      <button mat-raised-button (click)="navigate('')" color="primary" aria-label="Back to inscriptions">
        <mat-icon fxHide.lt-md>keyboard_arrow_left</mat-icon>
        <mat-icon fxHide.gt-sm>keyboard_arrow_up</mat-icon>
      </button>
      <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="loading">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div>Loading...</div>
        </div>
      </div>
      <div *ngIf="loading == false" fxFlex>
        <app-item-info table="inscriptions" label="Inscription Details" [fields]="detailFields.main" [data]="protectedData"></app-item-info>
        <app-data-table *ngIf="protectedData.institutions.length > 0" table="institutions" label="Institutions Appearing" [fields]="detailFields.institutions" [data]="protectedData.institutions"></app-data-table>
        <app-data-table *ngIf="protectedData.people.length > 0" table="people" label="People Appearing" [fields]="detailFields.people" [data]="protectedData.people"></app-data-table>
        <app-data-table *ngIf="protectedData.honors.length > 0" table="honors" label="Honors Appearing" [fields]="detailFields.honors" [data]="protectedData.honors"></app-data-table>
      </div>
    </div>
    <div class="right-col">
      <div *ngIf="loading == false" fxFlex>
          <app-network-graph label="Visual Browser" [data]="protectedNetwork"></app-network-graph>
      </div>
    </div>
  </div>
  <!-- mobile displays -->
  <div class="detail-wrapper single-col" fxFlex fxLayout="column" fxHide.gt-sm>
    <div fxLayout="column">
      <button mat-raised-button (click)="navigate('')" color="primary" aria-label="Back to inscriptions">
        <mat-icon fxHide.lt-md>keyboard_arrow_left</mat-icon>
        <mat-icon fxHide.gt-sm>keyboard_arrow_up</mat-icon>
      </button>
      <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="loading">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div>Loading...</div>
        </div>
      </div>
      <div *ngIf="loading == false" fxFlex>
        <app-item-info table="inscriptions" label="Inscription Details" [fields]="detailFields.main" [data]="protectedData"></app-item-info>
        <app-data-table *ngIf="protectedData.institutions.length > 0" table="institutions" label="Institutions Appearing" [fields]="detailFields.institutions" [data]="protectedData.institutions"></app-data-table>
        <app-data-table *ngIf="protectedData.people.length > 0" table="people" label="People Appearing" [fields]="detailFields.people" [data]="protectedData.people"></app-data-table>
        <app-data-table *ngIf="protectedData.honors.length > 0" table="honors" label="Honors Appearing" [fields]="detailFields.honors" [data]="protectedData.honors"></app-data-table>
      </div>
    </div>
  </div>
</div>
