:host .edit-wrapper {
  height: 100%;
  width: 100%;
}

/* If the screen size is 601px wide or more, set for large screen */
@media screen and (min-width: 601px) {
  :host .edit-container {
    width: 800px;
  }
}

/* If the screen size is 600px wide or less, set for mobile */
@media screen and (max-width: 600px) {
  :host .edit-container {
    width: 350px;
  }

  :host mat-toolbar span {
    font-size: .5em;
  }
}

:host .checkbox-option {
  padding-left: 15px;
}

:host .error-msgs {
  background-color: #EEEEEE;
  color: #DD0000;
  margin: 5px;
  padding: 5px;
}

:host .back-button {
  width: 100%;
}
