<div class="single-col">
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="loading">
    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
        <div>Loading...</div>
    </div>
  </div>
  <div fxFlex *ngIf="loading == false">
    <app-data-table table="inscriptions" [fields]="detailFields" [data]="protectedData"></app-data-table>
    <div class="add-button-container">
      <button *ngIf="user.role == 'Owner' || user.role == 'Editor'" color="primary" routerLink="/inscriptions/add" mat-fab aria-label="Add new inscription">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
